<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-3.0.xsd">
          
    <!-- bean di tipo Box -->  
	<bean id="box_1" class="com.riccardodegni.W4L1.week4_lesson1.config_bean.Box">
		<constructor-arg index="0" type="int" value="10"></constructor-arg>
		<constructor-arg index="1" type="int" value="4"></constructor-arg>
	</bean>
	
	<bean id="box_2" class="com.riccardodegni.W4L1.week4_lesson1.config_bean.Box" scope="prototype">
		<property name="x" value="5"></property>
		<property name="y" value="5"></property>
	</bean>
            
    <!-- bean di tipo Person -->
    <bean id="p1_address" class="com.riccardodegni.W4L1.week4_lesson1.config_bean.Address">
    	<constructor-arg index="0" type="java.lang.String" value="Via Del Corso 100, Roma"></constructor-arg>
    </bean>
    <bean id="p1_phone" class="com.riccardodegni.W4L1.week4_lesson1.config_bean.ItalianPhone">
    	<constructor-arg index="0" type="java.lang.String" value="3334445566"></constructor-arg>
    </bean>
    <bean id="p1" class="com.riccardodegni.W4L1.week4_lesson1.config_bean.Person">
    	<constructor-arg index="0" type="java.lang.String" value="Luigi Verdi"></constructor-arg>
    	<constructor-arg index="1" ref="p1_address"></constructor-arg>
    	<constructor-arg index="2" ref="p1_phone"></constructor-arg>
    </bean>
    
</beans>